.content{

    position: absolute !important;
    top: 25%;
    left: 30%;
}

@media screen and (max-width:600px) {

    .content{
        
       
        margin-top: 70%;
        margin-right: 30%;

    }
    .img{
        display: none;
    }
}



